<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cy.mapper.app.OrderMapper">
    <select id="getHallOrders" resultType="com.alibaba.fastjson2.JSONObject">
        SELECT o.oid,
        o.create_time as createTime,
        o.expect_time as expectTime,
        o.detail,
        o.amount,
        order_type.type_name as typeName,
        order_type.form as form,
        order_type.bg_color as bgColor
        FROM `order` o
        LEFT JOIN order_type ON o.order_type_id = order_type.order_type_id
        WHERE o.status = 'D'
        AND o.xdr != #{uid}
        <if test="orderTypeId != null and orderTypeId != ''">
            AND o.order_type_id = #{orderTypeId}
        </if>
        ORDER BY o.create_time DESC
    </select>

    <select id="detail" resultType="com.alibaba.fastjson2.JSONObject">
        SELECT o.*, order_type.form, order_type.type_name, status.description AS status_name
        FROM `order` as o
        LEFT JOIN order_type ON o.order_type_id = order_type.order_type_id
        LEFT JOIN order_status AS status ON o.status = status.status
        WHERE o.oid = #{oid}
    </select>

    <select id="processingOrder" resultType="com.alibaba.fastjson2.JSONObject">
        SELECT `order`.*, order_type.type_name
        FROM `order`
        LEFT JOIN order_type ON `order`.order_type_id = order_type.order_type_id
        WHERE `order`.status = 'J' ORDER BY `order`.create_time DESC;
    </select>

    <select id="getAdminOrderList" resultType="com.alibaba.fastjson2.JSONObject">
        SELECT
            o.oid as orderNo,
            xdr_user.nickname as buyer,
            jdr_user.nickname as receiver,
            order_type.type_name as typeName,
        order_status.description as status,
        order_status.color,
        o.amount,
        o.rating,
        o.create_time as createTime,
        o.accept_time as acceptTime,
        o.expect_time as expectedDeliveryTime,
        o.complete_time as finishTime
        FROM `order` o
        LEFT JOIN user xdr_user ON o.xdr = xdr_user.uid
        LEFT JOIN user jdr_user ON o.jdr = jdr_user.uid
        LEFT JOIN order_type ON o.order_type_id = order_type.order_type_id
        LEFT JOIN order_status ON o.status = order_status.status
        <where>
            <if test="oid != null and oid != ''">
                AND o.oid = #{oid}
            </if>
            <if test="keyword != null and keyword != ''">
                AND (o.oid LIKE CONCAT('%', #{keyword}, '%')
                OR xdr_user.nickname LIKE CONCAT('%', #{keyword}, '%')
                OR jdr_user.nickname LIKE CONCAT('%', #{keyword}, '%')
                OR order_type.type_name LIKE CONCAT('%', #{keyword}, '%'))
            </if>
            <if test="status != null and status != ''">
                AND order_status.description = #{status}
            </if>
        </where>
        ORDER BY o.create_time DESC
    </select>

    <select id="getAdminOrderDetail" resultType="com.alibaba.fastjson2.JSONObject">
        SELECT
            o.oid as orderNo,
            xdr_user.nickname as buyer,
            jdr_user.nickname as receiver,
            o.amount,
            o.rating,
            order_status.description as status,
            order_status.color,
            jdr_user.phone as phone,
            addr.detail as address,
            o.create_time as createTime,
            o.accept_time as payTime,
            o.expect_time as shipTime,
            o.complete_time as finishTime
        FROM `order` o
        LEFT JOIN order_status ON o.status = order_status.status
        LEFT JOIN user xdr_user ON o.xdr = xdr_user.uid
        LEFT JOIN user jdr_user ON o.jdr = jdr_user.uid
        LEFT JOIN address addr ON o.aid = addr.aid
        WHERE o.oid = #{oid}
    </select>
</mapper>