<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.github.solanej.mapper.OrderMapper">
    <select id="processingOrder" resultType="com.alibaba.fastjson2.JSONObject">
        SELECT `order`.*, service.service_name
        FROM `order`
        LEFT JOIN service ON `order`.service_id = service.service_id
        WHERE `order`.status = 'J' ORDER BY `order`.create_time DESC;
    </select>
</mapper>